<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navs - TailwindStrap</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

  <div id="app">
    <app-layout>
      <div class="mb-5 space-y-0.5">
        <h1 class="font-bold text-2xl text-gray-800">Navs</h1>
        <p class="text-lg text-gray-500">Navigation Component</p>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Default
        </div>
        <div class="card-body">
          <div class="nav">
            <button type="button" v-for="i in 3" :key="i" class="nav-item" :class="i === 1 ? 'active' : ''">
              Item {{ i }}
            </button>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Center
        </div>
        <div class="card-body">
          <div class="nav nav-center">
            <button type="button" v-for="i in 3" :key="i" class="nav-item" :class="i === 1 ? 'active' : ''">
              Item {{ i }}
            </button>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Right Aligned
        </div>
        <div class="card-body">
          <div class="nav nav-right">
            <button type="button" v-for="i in 3" :key="i" class="nav-item" :class="i === 1 ? 'active' : ''">
              Item {{ i }}
            </button>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Vertical
        </div>
        <div class="card-body">
          <div class="nav nav-vertical nav-left">
            <button type="button" v-for="i in 3" :key="i" class="nav-item" :class="i === 1 ? 'active' : ''">
              Item {{ i }}
            </button>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Tabs
        </div>
        <div class="card-body">
          <div class="nav nav-tabs">
            <a href="javascript:void(0);" v-for="i in 3" :key="i" class="nav-item" :class="i === 1 ? 'active' : ''">
              Item {{ i }}
            </a>
          </div>
        </div>
      </div>


    </app-layout>
  </div>

  <script type="module" src="/main.js"></script>
</body>

</html>