<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Breadcrumb - TailwindStrap</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

  <div id="app">
    <app-layout>
      <div class="mb-5 space-y-0.5">
        <h1 class="font-bold text-2xl text-gray-800">Breadcrumb</h1>
        <p class="text-lg text-gray-500">Breadcrumb Component</p>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Default
        </div>
        <div class="card-body">
          <div class="breadcrumb">
            <template v-for="i in 5" :key="i">
              <a class="breadcrumb-item" :class="i === 5 ? 'active' : ''" href="javascript:void(0);">
                Link {{ i }}
              </a>
              <span v-if="i !== 5" class="breadcrumb-divider">
                /
              </span>
            </template>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Underline
        </div>
        <div class="card-body">
          <div class="breadcrumb breadcrumb-underline">
            <template v-for="i in 5" :key="i">
              <a class="breadcrumb-item" :class="i === 5 ? 'active' : ''" href="javascript:void(0);">
                Link {{ i }}
              </a>
              <span v-if="i !== 5" class="breadcrumb-divider">/</span>
            </template>
          </div>
        </div>
      </div>

      <div class="card card-bordered mb-5">
        <div class="card-header">
          Arrow Icon
        </div>
        <div class="card-body">
          <div class="breadcrumb">
            <template v-for="i in 5" :key="i">
              <a class="breadcrumb-item" :class="i === 5 ? 'active' : ''" href="javascript:void(0);">
                Link {{ i }}
              </a>
              <span v-if="i !== 5" class="breadcrumb-divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
              </span>
            </template>
          </div>
        </div>
      </div>


    </app-layout>
  </div>

  <script type="module" src="/main.js"></script>
</body>

</html>